
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    position: relative;
    width: 400px;
    height: 600px;
}

.start-button {
    margin-top: 5px;
    padding: 10px 10px;
    font-size: 1em;
    cursor: pointer;
    position: center;

}

.grid{
    width: 400px;
    height: 600px;
    background-color: aliceblue;
    position: relative;
    font-size: 50px;
    text-align: center;
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    color: #333;
}

.doodler{
    width: 70px;
    height: 85px;
    background-image: url('../img/panda.jpeg');
    background-size: cover;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.platform{
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}

